# discord token for your bot, you can get it from: https://discord.com/developers/applications
CLIENT_TOKEN=""

# endpoints (do NOT add a trailing /, ex: "http://127.0.0.1:3000")
API=""
STREAM="" 

# endpoints authorization; keep it the same across all apps
API_TOKEN=""